@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-button {
  border: 1px solid $text_color;
  color: $text_color;
  text-align: center;
  @include font_e;
  &--square {
    @include tablet {
      padding: 15px;
      font-size: rem(14);
    }
    padding: 25px;
    font-size: rem(25);
  }
  &--round {
    @include tablet {
      padding: 5px;
      font-size: rem(10);
    }
    padding: 8px;
    border-radius: 19px;
    font-size: rem(20);
  }
}
