@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-posts-card {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__thumbnail {
    @include tablet {
      width: 40.7%;
    }
    width: 255px;
    height: 100%;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__date {
    @include tablet {
      font-size: rem(12);
    }
    color: $text_gray_color;
    font-size: rem(20);
  }
  &__title {
    font-size: rem(14);
  }
}

.c-posts-list-card {
  @include tablet {
    width: 45%;
  }
  width: 255px;
  &__thumbail {
    @include tablet {
      width: 40.7%;
    }
    width: 100%;
  }
  &__date {
    @include tablet {
      font-size: rem(12);
    }
    color: $text_gray_color;
    font-size: rem(20);
  }
  &__title {
    @include tablet {
      font-size: rem(12);
    }
    font-weight: normal;
    font-size: rem(20);
  }
}
