@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-posts-card {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__thumbnail {
    width: 255px;
    height: 100%;
    @include tablet {
      width: 40.7%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__date {
    font-size: rem(20);
    color: $text_gray_color;
    @include tablet {
      font-size: rem(12);
    }
  }
  &__title {
    font-size: rem(14);
  }
}
