@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-posts-card {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__thumbnail {
    @include tablet {
      width: 40.7%;
    }
    width: 255px;
    height: 100%;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__date {
    @include tablet {
    }
    color: $gray_color_2;
    font-size: clamp(12px, 2.08vw, 20px);
  }
  &__title {
    font-size: clamp(12px, 2.08vw, 20px);
  }
}

.c-posts-list-card {
  width: clamp(138px, 23vw, 255px);
  &__date {
    color: $gray_color_2;
    font-size: clamp(12px, 2.08vw, 20px);
  }
  &__title {
    font-weight: normal;
    font-size: clamp(12px, 2.08vw, 20px);
  }
}
