@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-dealer-introduction {
  @include tablet {
    margin-top: 120px;
  }
  margin-top: 200px;
  &__heading {
    line-height: 1.67;
  }
  &__txt {
    @include tablet {
      margin-top: 50px;
    }
    margin-top: 90px;
    padding: 0 32px;
    line-height: 2;
  }
  &__movie {
    @include tablet {
      margin-top: 37px;
    }
    position: relative;
    height: 0;
    margin-top: 100px;
    padding-top: 56.12%;
    overflow: hidden;
    line-height: 2;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 32px;
    }
  }
  &__contents {
    padding: 0 32px;
  }
  &__contents-item {
    @include tablet {
      margin-top: 55px;
    }
    display: flex;
    margin-top: 100px;
  }
  &__contents-txt {
    flex: 1;
    margin-left: 6.06%;
  }
  &__contents-thumb {
    width: 43.5%;
  }
  &__contents-txt-body {
    @include tablet {
      margin-top: 13px;
      line-height: 1.5;
    }
    margin-top: 50px;
    line-height: 1.8;
  }
}

.p-dealer-tobe {
  @include tablet {
    margin-top: 85px;
  }
  margin-top: 250px;
  &__container {
    padding: 0 32px;
  }
  &__title {
    line-height: 1.67;
  }
  &__txt {
    @include tablet {
      margin-top: 55px;
    }
    margin-top: 85px;
    line-height: 2;
  }
  //スライダー大外枠
  &__slider {
    @include tablet {
      margin-top: 41px;
      padding: 0 16px;
    }
    margin-top: 95px;
    padding: 160px 0;
    background: $gray6;
  }
}

.p-dealer-contact {
  @include tablet {
    margin-top: 85px;
    margin-bottom: 125px;
  }
  margin-top: 250px;
  margin-bottom: 250px;
  padding: 0 32px;
  &__title {
    line-height: 1.67;
  }
  &__txt {
    @include tablet {
      margin-top: 55px;
    }
    margin-top: 85px;
    line-height: 2;
  }
  &__button {
    @include tablet {
      width: 80.3%;
      margin-top: 30px;
    }
    display: block;
    width: 500px;
    margin: 95px auto 0;
  }
}
