@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-product-introduction {
  margin-top: 150px;
  @include tablet {
    margin-top: 55px;
  }
  &__title {
    line-height: 1.6;
    letter-spacing: 4.5px;
  }
  &__txt {
    line-height: 2;
    letter-spacing: 1.25px;
    margin-top: 100px;
    @include tablet {
      margin-top: 55px;
    }
  }
}
