@use "../../foundation/_color" as *;
@use "../../foundation/_font" as *;
@use "../../foundation/_variables" as *;
@use "../../foundation/_mixin" as *;

.u-padding {
	&__left {
		&--8 {
			padding-left: 8px;
		}
		&--10 {
			padding-left: 10px;
		}
	}
	&__right {
		&--10 {
			padding-right: 10px;
		}
		&--12 {
			padding-right: 12px;
		}
		&--15 {
			padding-right: 15px;
		}
	}
	&__bottom {
		&--5 {
			padding-bottom: 5px;
		}
		&--10 {
			padding-bottom: 10px;
		}
		&--12 {
			padding-bottom: 12px;
		}
		&--15 {
			padding-bottom: 15px;
		}
		&--16 {
			padding-bottom: 16px;
		}
		&--18 {
			padding-bottom: 18px;
		}
		&--20 {
			padding-bottom: 20px;
		}
		&--25 {
			padding-bottom: 25px;
		}
		&--30 {
			padding-bottom: 30px;
		}
		&--40 {
			padding-bottom: 40px;
		}
		&--50 {
			padding-bottom: 50px;
		}
		&--60 {
			padding-bottom: 60px;
		}
		&--80 {
			padding-bottom: 80px;
		}
		&--150 {
			padding-bottom: 150px;
		}
	}
}

