@use "../../foundation/_color" as *;
@use "../../foundation/_font" as *;
@use "../../foundation/_variables" as *;
@use "../../foundation/_mixin" as *;

.pc {
  display: block !important;

  @include tablet {
    display: none !important;
  }
}

.sp {
  display: none !important;

  @include tablet {
    display: block !important;
  }
}

.pc-flex {
  display: flex !important;

  @include tablet {
    display: none !important;
  }
}

.sp-flex {
  display: none !important;

  @include tablet {
    display: flex !important;
  }
}

.pc-inline {
  display: inline !important;

  @include tablet {
    display: none !important;
  }
}

.pc-inbl {
  display: inline-block !important;

  @include tablet {
    display: none !important;
  }
}

.sp-inbl {
  display: none !important;

  @include tablet {
    display: inline-block !important;
  }
}

.u-inline-block {
  display: inline-block;
}

.u-narrow-text {
  letter-spacing: -0.1rem;
  &--mid {
    letter-spacing: clamp(-1rem, -0.83vw, -0.2rem);
  }
  &--hard {
    letter-spacing: clamp(-1.5rem, -2vw, -0.5rem);
  }
}
