@charset "UTF-8";
img {
  max-width: 100%;
}

/* reset
--------------------------- */
/*
 * destyle.css v1.0.14
 * https://github.com/nicolas-cusan/destyle.css
 */
* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

address,
blockquote,
dl,
figure,
form,
iframe,
p,
pre,
table {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
iframe,
object {
  border: 0;
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: 0 0;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled],
button[disabled] {
  cursor: default;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.c-box-flex {
  display: flex;
}
.c-box-flex--column {
  flex-direction: column;
}

.c-button {
  color: #141414;
  border: 1px solid #141414;
}
.c-button--square {
  padding: 25px;
  font-size: 1.5625rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .c-button--square {
    padding: 15px;
    font-size: 0.875rem;
  }
}

.c-posts-card__inner {
  display: flex;
  align-items: center;
}
.c-posts-card__thumbnail {
  width: 255px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .c-posts-card__thumbnail {
    width: 40.7%;
  }
}
.c-posts-card__body {
  display: flex;
  flex-direction: column;
}
.c-posts-card__date {
  font-size: 1.25rem;
  color: #888;
}
@media only screen and (max-width: 768px) {
  .c-posts-card__date {
    font-size: 0.75rem;
  }
}
.c-posts-card__title {
  font-size: 0.875rem;
}

.c-date {
  font-size: 1.25rem;
  color: #888;
}
@media only screen and (max-width: 768px) {
  .c-date {
    font-size: 0.75rem;
  }
}

.c-section-heading {
  font-size: 2.8125rem;
}
@media only screen and (max-width: 768px) {
  .c-section-heading {
    font-size: 1.40625rem;
  }
}
.c-section-heading--center {
  text-align: center;
}

.c-post-heading {
  font-size: 1.875rem;
}
@media only screen and (max-width: 768px) {
  .c-post-heading {
    font-size: 1.40625rem;
  }
}

.c-list-brackets > li {
  list-style-type: none;
  counter-increment: brackets-cnt;
  margin: 10px 0;
}
.c-list-brackets > li::before {
  content: "(" counter(brackets-cnt) ") ";
  display: inline-block;
  margin-left: -2em;
  width: 2em;
}

.c-list-dot li {
  text-indent: -1em;
  margin-left: 1em;
}
.c-list-dot li::before {
  content: "・";
}

.c-list-num > li {
  list-style-type: none;
  counter-increment: num-cnt;
  margin: 10px 0;
}
.c-list-num > li::before {
  content: counter(num-cnt) ". ";
  display: inline-block;
  margin-left: -2em;
  width: 2em;
}

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-pagination > * + * {
  margin-left: 40px;
}
@media only screen and (max-width: 768px) {
  .c-pagination > * + * {
    margin-left: 20px;
  }
}
.c-pagination__arrow {
  display: block;
  width: 15px;
  height: 15px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .c-pagination__arrow {
    width: 8px;
    height: 8px;
  }
}
.c-pagination__arrow--left {
  transform: translateX(5px) rotate(-135deg);
}
.c-pagination__arrow--right {
  transform: translateX(-5px) rotate(45deg);
}
.c-pagination__item-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  flex-wrap: wrap;
  font-size: 1.25rem;
  transition: all 0.15s linear;
}
.c-pagination__item-link--list {
  width: 15px;
}
@media only screen and (max-width: 768px) {
  .c-pagination__item-link {
    font-size: 0.875rem;
  }
}
.c-pagination__item-link.is-active::after {
  content: "";
  width: 15px;
  height: 1px;
  display: inline-block;
  background-color: #000;
  position: absolute;
  bottom: -5px;
}
.c-pagination__item-link:not(.isActive):hover {
  background: #000;
  color: #fff;
}
.c-pagination__item-link:not(.isActive):hover .c-pagination__arrow {
  border-color: #fff;
}
.c-pagination__item-link-icon {
  width: 20px;
}

.c-section-container {
  width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .c-section-container {
    width: 100%;
  }
}
.c-section-container--wide {
  width: 1500px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .c-section-container--wide {
    width: 100%;
  }
}

.c-txt-h1 {
  font-size: 2.8125rem;
}

.c-txt-link:hover {
  opacity: 0.7;
}
.c-txt-link--line {
  text-decoration: underline;
}

.p-company {
  margin-top: 200px;
}
@media only screen and (max-width: 768px) {
  .p-company {
    margin-top: 60px;
    padding: 0 32px;
  }
}
.p-company__company-info {
  margin-top: 130px;
}
@media only screen and (max-width: 768px) {
  .p-company__company-info {
    margin-top: 50px;
  }
}
.p-company__company-txt {
  font-size: 1.5625rem;
  text-align: center;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .p-company__company-txt {
    font-size: 0.875rem;
  }
}
.p-company__map {
  margin-top: 100px;
  position: relative;
  width: 100%;
  padding-top: 37.0731%;
}
@media only screen and (max-width: 768px) {
  .p-company__map {
    margin-top: 20px;
    padding-top: 72.258%;
  }
}
.p-company__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-contact {
  margin: 250px 0;
}
@media only screen and (max-width: 768px) {
  .p-contact {
    margin: 85px 0 100px;
  }
}
.p-contact__text {
  margin-top: 100px;
  font-size: 1.5625rem;
  text-align: center;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .p-contact__text {
    margin-top: 40px;
    font-size: 0.875rem;
  }
}
.p-contact__button {
  display: block;
  width: 500px;
  margin: 100px auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .p-contact__button {
    width: 66.67%;
    margin: 30px auto 0;
  }
}

.p-posts-list {
  margin: 60px 0;
}
@media only screen and (max-width: 768px) {
  .p-posts-list {
    margin-top: 24px;
  }
}
.p-posts-list__list-item {
  position: relative;
  padding: 48px 0;
}
@media only screen and (max-width: 768px) {
  .p-posts-list__list-item {
    padding: 24px 0;
  }
}
.p-posts-list__list-item::after {
  position: absolute;
  bottom: 0;
  background: radial-gradient(circle farthest-side, #000, #000 20%, transparent 20%, transparent);
  background-size: 10px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 100%;
}
.p-posts-list__list-item:last-child::after {
  height: 0;
}
.p-posts-list__body {
  margin-left: 45px;
}
@media only screen and (max-width: 768px) {
  .p-posts-list__body {
    margin-left: 32px;
  }
}
.p-posts-list__title {
  margin-top: 25px;
}
@media only screen and (max-width: 768px) {
  .p-posts-list__title {
    margin-top: 12px;
  }
}

.p-topics-detail {
  margin: 130px 0 250px;
}
@media only screen and (max-width: 768px) {
  .p-topics-detail {
    margin: 60px 0 80px;
    padding: 0 32px;
  }
}
.p-topics-detail__heading {
  margin-top: 70px;
  border-bottom: 1px solid #000;
}
.p-topics-detail__date {
  margin-top: 25px;
}
.p-topics-detail__top-image {
  margin-top: 60px;
  text-align: center;
}
.p-topics-detail__content {
  margin-top: 90px;
  font-size: 1.25rem;
  line-height: 2;
}
.p-topics-detail__pagination {
  margin: 100px auto 0;
}
@media only screen and (max-width: 768px) {
  .p-topics-detail__pagination {
    margin-top: 36px;
  }
}

.p-topics-index {
  margin: 130px 0 250px;
}
@media only screen and (max-width: 768px) {
  .p-topics-index {
    margin: 60px 0 80px;
    padding: 0 32px;
  }
}
.p-topics-index__pagination {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .p-topics-index__pagination {
    margin-top: 36px;
  }
}

.u-margin__top--5 {
  margin-top: 5px;
}
.u-margin__top--10 {
  margin-top: 10px;
}
.u-margin__top--12 {
  margin-top: 12px;
}
.u-margin__top--15 {
  margin-top: 15px;
}
.u-margin__top--16 {
  margin-top: 16px;
}
.u-margin__top--18 {
  margin-top: 18px;
}
.u-margin__top--20 {
  margin-top: 20px;
}
.u-margin__top--25 {
  margin-top: 25px;
}
.u-margin__top--30 {
  margin-top: 30px;
}
.u-margin__top--40 {
  margin-top: 40px;
}
.u-margin__top--50 {
  margin-top: 50px;
}
.u-margin__top--60 {
  margin-top: 60px;
}
.u-margin__top--80 {
  margin-top: 80px;
}
.u-margin__top--150 {
  margin-top: 150px;
}
.u-margin__left--8 {
  margin-left: 8px;
}
.u-margin__left--10 {
  margin-left: 10px;
}
.u-margin__right--10 {
  margin-right: 10px;
}
.u-margin__right--12 {
  margin-right: 12px;
}
.u-margin__right--15 {
  margin-right: 15px;
}
.u-margin__bottom--5 {
  margin-bottom: 5px;
}
.u-margin__bottom--10 {
  margin-bottom: 10px;
}
.u-margin__bottom--12 {
  margin-bottom: 12px;
}
.u-margin__bottom--15 {
  margin-bottom: 15px;
}
.u-margin__bottom--16 {
  margin-bottom: 16px;
}
.u-margin__bottom--18 {
  margin-bottom: 18px;
}
.u-margin__bottom--20 {
  margin-bottom: 20px;
}
.u-margin__bottom--25 {
  margin-bottom: 25px;
}
.u-margin__bottom--30 {
  margin-bottom: 30px;
}
.u-margin__bottom--40 {
  margin-bottom: 40px;
}
.u-margin__bottom--50 {
  margin-bottom: 50px;
}
.u-margin__bottom--60 {
  margin-bottom: 60px;
}
.u-margin__bottom--80 {
  margin-bottom: 80px;
}
.u-margin__bottom--150 {
  margin-bottom: 150px;
}
.u-margin__x--auto {
  margin-right: auto;
  margin-left: auto;
}

.u-padding__left--8 {
  padding-left: 8px;
}
.u-padding__left--10 {
  padding-left: 10px;
}
.u-padding__right--10 {
  padding-right: 10px;
}
.u-padding__right--12 {
  padding-right: 12px;
}
.u-padding__right--15 {
  padding-right: 15px;
}
.u-padding__bottom--5 {
  padding-bottom: 5px;
}
.u-padding__bottom--10 {
  padding-bottom: 10px;
}
.u-padding__bottom--12 {
  padding-bottom: 12px;
}
.u-padding__bottom--15 {
  padding-bottom: 15px;
}
.u-padding__bottom--16 {
  padding-bottom: 16px;
}
.u-padding__bottom--18 {
  padding-bottom: 18px;
}
.u-padding__bottom--20 {
  padding-bottom: 20px;
}
.u-padding__bottom--25 {
  padding-bottom: 25px;
}
.u-padding__bottom--30 {
  padding-bottom: 30px;
}
.u-padding__bottom--40 {
  padding-bottom: 40px;
}
.u-padding__bottom--50 {
  padding-bottom: 50px;
}
.u-padding__bottom--60 {
  padding-bottom: 60px;
}
.u-padding__bottom--80 {
  padding-bottom: 80px;
}
.u-padding__bottom--150 {
  padding-bottom: 150px;
}

/* オリジナルCSSここから */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* オリジナルCSSここまで */
.pc {
  display: block !important;
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .sp {
    display: block !important;
  }
}

.pc-flex {
  display: flex !important;
}
@media only screen and (max-width: 768px) {
  .pc-flex {
    display: none !important;
  }
}

.sp-flex {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .sp-flex {
    display: flex !important;
  }
}

.pc-inbl {
  display: inline-block !important;
}
@media only screen and (max-width: 768px) {
  .pc-inbl {
    display: none !important;
  }
}

.sp-inbl {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .sp-inbl {
    display: inline-block !important;
  }
}

.u-inline-block {
  display: inline-block;
}