@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-sticky-banner {
  position: fixed;
  right: 0;
  bottom: 32px;
  z-index: -1;
  opacity: 0;
  transition: all 1s;
  &.is-active {
    opacity: 1;
    z-index: 99;
  }
  &__inner {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 15px 32px;
    }
    display: block;
    width: 280px;
    padding: 42px 29px 29px;
    color: $white_color;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
    &.is-hide {
      display: none;
    }
  }
  &__love-stock {
    position: relative;
    width: 280px;
    margin-top: 50px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $white_color;
    border-right: none;
    background: linear-gradient(
      57deg,
      rgba(130, 130, 130, 1) 0%,
      rgba(157, 157, 157, 1) 16.3%,
      rgba(189, 189, 189, 1) 38.94%,
      rgba(212, 212, 212, 1) 60.9%,
      rgba(225, 225, 225, 1) 81.67%,
      rgba(230, 230, 230, 1) 100%
    );
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
    &.is-hide {
      display: none;
    }
  }
  &__love-stock-logo {
    width: 90px;
    height: 90px;
  }
  &__love-stock-txt {
    line-height: 1.8;
  }
  &--blue {
    height: 280px;
    background: linear-gradient(
      57deg,
      rgba(20, 20, 96, 1) 0%,
      rgba(20, 20, 119, 1) 14.73%,
      rgba(20, 20, 146, 1) 35.66%,
      rgba(20, 20, 156, 1) 47.96%,
      rgba(25, 32, 160, 1) 51.07%,
      rgba(49, 93, 180, 1) 67.99%,
      rgba(67, 137, 195, 1) 82.37%,
      rgba(78, 164, 204, 1) 93.49%,
      rgba(82, 174, 207, 1) 100%
    );
  }
  &--pink {
    height: 242px;
    background: linear-gradient(
      57deg,
      rgba(182, 0, 116, 1) 0%,
      rgba(255, 0, 167, 1) 44.14%,
      rgba(255, 182, 213, 1) 95.24%
    );
  }
  &__txt {
    flex: 1;
    font-size: clamp(15px, 2.66vw, 44px);
    line-height: 1.53;
    font-weight: bold;
  }
  &__i-dryer-logo {
    img {
      width: 219px;
      height: 129px;
    }
  }
  &__quick-hair-dryer-logo {
    img {
      width: 228px;
      height: 104px;
    }
  }
  &__button {
    @include tablet {
      width: 47%;
      height: 37px;
      margin-top: 0;
      line-height: 37px;
    }
    position: relative;
    width: 211px;
    height: 49px;
    font-size: clamp(10px, 1.82vw, 18px);
    line-height: 49px;
    text-align: center;

    &--pink {
      margin-top: 20px;
    }
    &--blue {
      margin-top: 30px;
    }

    &--arrow {
      background-color: rgba(255, 255, 255, 0.2);
      &::after {
        @include tablet {
          right: -10px;
          border-width: 18.5px 0 18.5px 10px;
        }
        display: block;
        position: absolute;
        top: 0;
        right: -13px;
        border-width: 24.5px 0 24.5px 13px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
        content: '';
      }
    }
  }

  &__close-button {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px; /* 棒の幅（太さ） */
      height: 11px; /* 棒の高さ */
      background: $white_color;
    }
    &--love-stock::before,
    &--love-stock::after {
      background: #aaa;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
