@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-topics-index {
  @include tablet {
    margin: 60px 0 80px;
  }
  margin: 130px 0 250px;
  padding: 0 16px;
  &__pagination {
    @include tablet {
      margin-top: 36px;
    }
    margin: 0 auto;
  }
}
