@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-topics-index {
  margin: 130px 0 250px;
  @include tablet {
    margin: 60px 0 80px;
    padding: 0 32px;
  }
  &__pagination {
    margin: 0 auto;
    @include tablet {
      margin-top: 36px;
    }
  }
}
