@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-top-concept {
  margin-top: 250px;
  @include tablet {
    margin-top: 110px;
  }
  &__bg-container {
    margin-top: 115px;
    height: 750px;
    background-image: url(./assets/images/concept_bg_pc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tablet {
      margin-top: 70px;
      height: 100vw;
      background-image: url(./assets/images/concept_bg_sp.png);
      background-size: contain;
    }
  }
  &__body-wrap {
    position: relative;
    height: 100%;
  }
  &__body {
    position: absolute;
    width: 660px;
    padding: 65px 80px;
    background-color: $white_color;
    box-shadow: 0px 0px 15px rgba(20, 20, 20, 0.25);
    opacity: 0.8;
    bottom: -50px;
    left: 0;
    @include tablet {
      width: 82.6%;
      padding: 37px 22.5px 30px;
      bottom: -180px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
  }
  &__lead-text {
    margin-top: 55px;
    line-height: 1.7;
    @include tablet {
      margin-top: 25px;
    }
  }
  &__button {
    margin-top: 45px;
    width: 260px;
    @include tablet {
      margin: 25px auto 0;
      width: 130px;
    }
  }
}
