@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-top-kv-section {
  @include tablet {
    margin-top: 120px;
  }
  margin-top: 250px;
  &--product,
  &--dealer {
    @include tablet {
      margin-top: 330px;
    }
  }
  &__kv-container {
    @include tablet {
      height: 100vw;
      margin-top: 70px;
      background-size: contain;
    }
    height: 750px;
    margin-top: 115px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &--concept {
      @include tablet {
        background-image: url(#{$image-path}top/bg/concept_bg_sp.png);
      }
      background-image: url(#{$image-path}top/bg/concept_bg_pc.png);
    }
    &--ai-prostyle {
      @include tablet {
        background-image: url(#{$image-path}top/bg/ai_pro_bg_sp.png);
      }
      background-image: url(#{$image-path}top/bg/ai_pro_bg_pc.png);
    }
    &--dryer {
      @include tablet {
        background-image: url(#{$image-path}top/bg/dryer_bg_sp.png);
      }
      background-image: url(#{$image-path}top/bg/dryer_bg_pc.png);
    }
    &--salon {
      @include tablet {
        background-image: url(#{$image-path}top/bg/salon_bg_sp.png);
      }
      background-image: url(#{$image-path}top/bg/salon_bg_pc.png);
    }
    &--dealer {
      @include tablet {
        background-image: url(#{$image-path}top/bg/dealer_bg_sp.png);
      }
      background-image: url(#{$image-path}top/bg/dealer_bg_pc.png);
    }
  }
  &__kv-container-inner {
    position: relative;
    height: 100%;
    padding: 0 16px;
  }
  &__kv-contents {
    @include tablet {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
    }
    position: absolute;
    left: 16px;
    bottom: -50px;
    width: 660px;
    height: 100%;
    &--right {
      left: auto;
      right: 0;
    }
  }
  &__card {
    @include tablet {
      bottom: -180px;
      left: 50%;
      transform: translateX(-50%);
      width: 90.5%;
      padding: 37px 22.5px 30px;
    }
    opacity: 0.8;
    position: absolute;
    bottom: -50px;
    width: 660px;
    padding: 85px 90px;
    box-shadow: 0 0 15px rgba(20, 20, 20, 0.25);
    background-color: $white_color;
    &--ai-prostyle {
      @include tablet {
        bottom: -200px;
      }
      bottom: 0;
    }
    &--dryer {
      @include tablet {
        bottom: -180px;
      }
      bottom: 0;
    }
    &--left {
      left: 16px;
    }

    &--right {
      right: 16px;
    }
  }
  &__product-name {
    @include tablet {
      text-align: right;
    }
    &--white {
      color: $white_color;
    }
  }
  &__product-name-inner {
    text-align: left;
  }
  &__card-title {
    line-height: 1.6;
  }
  &__card-txt {
    @include tablet {
      margin-top: 25px;
    }
    margin-top: 55px;
    line-height: 1.7;
  }
  &__card-button {
    @include tablet {
      width: 130px;
      margin: 25px auto 0;
    }
    width: 260px;
    margin-top: 45px;
  }
}
