@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-top-instagram {
  @include tablet {
    margin: 120px 0 122px;
  }
  margin: 250px 0 255px;
  &__icon {
    @include tablet {
      margin: 32px auto 0;
    }
    margin: 65px auto 0;
  }
  &__container {
    @include tablet {
      margin-top: 30px;
    }
    margin-top: 100px;
  }
  &__scroll-wrapper {
    position: relative;
    bottom: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  &__scroll-field {
    @include tablet {
      width: 100%;
      margin: 35px auto 0;
      padding: 0 32px;
    }
    width: 3000px;
  }
  &__button {
    @include tablet {
      width: 130px;
      margin: 15px auto;
    }
    width: 260px;
    margin: 70px auto 0;
  }
}
