@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  & > * + * {
    margin-left: 40px;
    @include tablet {
      margin-left: 20px;
    }
  }
  &__arrow {
    display: block;
    width: 15px;
    height: 15px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    display: inline-block;
    @include tablet {
      width: 8px;
      height: 8px;
    }
    &--left {
      transform: translateX(5px) rotate(-135deg);
    }
    &--right {
      transform: translateX(-5px) rotate(45deg);
    }
  }
  &__item-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    flex-wrap: wrap;
    font-size: rem(20);
    transition: all 0.15s linear;
    &--list {
      width: 15px;
    }
    @include tablet {
      font-size: rem(14);
    }
    &.is-active::after {
      content: '';
      width: 15px;
      height: 1px;
      display: inline-block;
      background-color: $black_color;
      position: absolute;
      bottom: -5px;
    }
    &:not(.isActive):hover {
      background: $black_color;
      color: $white_color;
    }
    &:not(.isActive):hover .c-pagination__arrow {
      border-color: $white_color;
    }
  }
  &__item-link-icon {
    width: 20px;
  }
}
