@use "../../foundation/_color" as *;
@use "../../foundation/_font" as *;
@use "../../foundation/_variables" as *;
@use "../../foundation/_mixin" as *;

.p-company {
  margin-top: 200px;
  @include tablet {
    margin-top: 60px;
    padding: 0 32px;
  }

  &__company-info {
    margin-top: 130px;
    font-size: rem(25);
    text-align: center;
    line-height: 2;
    @include tablet {
      margin-top: 50px;
      font-size: rem(14);
    }
  }

  &__map {
    margin-top: 100px;
    position: relative;
    width: 100%;
    padding-top: 37.0731%;
    @include tablet {
      margin-top: 20px;
      padding-top: 72.258%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.p-contact {
  margin: 250px 0;
  @include tablet {
    margin: 85px 0 100px;
  }
  &__text {
    margin-top: 100px;
    font-size: rem(25);
    text-align: center;
    line-height: 2;
    @include tablet {
      margin-top: 40px;
      font-size: rem(14);
    }
  }

  &__button {
    display: block;
    width: 500px;
    margin: 100px auto;
    text-align: center;
    @include tablet {
      width: 66.67%;
      margin: 30px auto 0;
    }
  }
}
