@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-instagram {
  @include tablet {
    margin-top: 55px;
    margin-bottom: 70px;
  }
  margin-top: 200px;
  margin-bottom: 250px;
  &__icon {
    @include tablet {
      margin-top: 42px;
    }
    margin: 95px auto 0;
  }
  &__feed-container {
    @include tablet {
      width: 100%;
      margin-top: 10px;
    }
    width: 900px;
    margin: 95px auto 0;
    padding: 10px 20px;
  }
  &__button {
    @include tablet {
      width: 130px;
    }
    width: 260px;
    margin: 0 auto;
  }
}

// Smash Balloonスタイル上書き
#sb_instagram #sbi_load .sbi_load_btn,
#sb_instagram .sbi_follow_btn a {
  @include tablet {
    width: 130px !important;
    margin-top: 35px !important;
  }
  width: 260px !important;
  margin-top: 90px !important;
  padding: 4px 0 !important;
  border: 1px solid $black_color !important;
  border-radius: 20px !important;
  background-color: transparent !important;
}

#sb_instagram .sbi_load_btn .sbi_btn_text {
  color: $black_color;
  font-size: clamp(10px, 1.95vw, 20px);
}

#sb_instagram #sbi_load .sbi_loader {
  background-color: #000000 !important;
}

#sb_instagram.sbi_small .sbi_playbtn,
#sb_instagram.sbi_small .sbi_photo_wrap .svg-inline--fa.fa-play {
  z-index: 0;
}

#sb_instagram.sbi_small .sbi_type_carousel .sbi_photo_wrap .fa-clone {
  z-index: 0;
}
