@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.p-company {
  @include tablet {
    margin-top: 60px;
    padding: 0 32px;
  }
  margin-top: 200px;
  &--contact {
    @include tablet {
      margin: 85px 0 100px;
    }
    margin: 250px 0;
  }

  &__company-info {
    @include tablet {
      margin-top: 50px;
    }
    margin-top: 130px;
  }

  &__company-txt {
    @include tablet {
      font-size: rem(12.5);
    }
    font-size: rem(25);
    line-height: 1.8;
    text-align: center;
    &--contact {
      @include tablet {
        margin-top: 45px;
      }
      margin-top: 100px;
    }
  }

  &__map {
    @include tablet {
      margin-top: 20px;
      padding-top: 72.258%;
    }
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding-top: 37.0731%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    @include tablet {
      width: 66.67%;
      margin: 30px auto 0;
    }
    display: block;
    width: 500px;
    margin: 100px auto;
    text-align: center;
  }
}
