@use "../foundation/_color" as *;
@use "../foundation/_font" as *;
@use "../foundation/_variables" as *;
@use "../foundation/_mixin" as *;

.l-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  @include tablet {
    width: 100%;
  }
  &--wide {
    max-width: 1500px;
  }
}

.l-container-flex {
  display: flex;
  @include tablet {
    flex-direction: column;
  }
  &--between {
    justify-content: space-between;
  }
  &--center {
    justify-content: center;
  }
  &--right {
    justify-content: end;
  }
}
