@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-heading-section {
  font-size: clamp(22.5px, 4.39vw, 45px);
  &--large {
    font-size: clamp(25px, 5.85vw, 65px);
  }
  &--smaller {
    font-size: clamp(16.5px, 3.67vw, 40px);
  }
  &--small {
    font-size: clamp(17.5px, 3.41vw, 35px);
  }
  &--product-name-sub {
    font-size: clamp(18.5px, 4.65vw, 53px);
  }
  &--product-name {
    font-size: clamp(27.3px, 6.52vw, 73px);
  }
  &--post {
    font-size: clamp(22.5px, 3.41vw, 30px);
  }
  &--dealer-intro-card {
    font-size: clamp(13px, 3.45vw, 40px);
  }
  &--center {
    text-align: center;
  }
}
