@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-heading-section {
  font-size: rem(45);
  @include tablet {
    font-size: rem(22.5);
  }
  &--large {
    font-size: rem(65);
    @include tablet {
      font-size: rem(25);
    }
  }
  &--smaller {
    font-size: rem(40);
    @include tablet {
      font-size: rem(16.5);
    }
  }
  &--small {
    font-size: rem(35);
    @include tablet {
      font-size: rem(17.5);
    }
  }
  &--center {
    text-align: center;
  }
}

.c-post-heading {
  font-size: rem(30);
  @include tablet {
    font-size: rem(22.5);
  }
}
