@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-heading-section {
  @include tablet {
    font-size: rem(22.5);
  }
  font-size: rem(45);
  &--large {
    @include tablet {
      font-size: rem(25);
    }
    font-size: rem(65);
  }
  &--smaller {
    @include tablet {
      font-size: rem(16.5);
    }
    font-size: rem(40);
  }
  &--small {
    @include tablet {
      font-size: rem(17.5);
    }
    font-size: rem(35);
  }
  &--product-name-sub {
    @include tablet {
      font-size: rem(18.5);
    }
    font-size: rem(53);
  }
  &--product-name {
    @include tablet {
      font-size: rem(27.3);
    }
    font-size: rem(78);
  }
  &--center {
    text-align: center;
  }
}

.c-post-heading {
  @include tablet {
    font-size: rem(22.5);
  }
  font-size: rem(30);
}
