@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-text {
  &--20 {
    font-size: rem(20);
    @include tablet {
      font-size: rem(11.5);
    }
  }
  &--30 {
    font-size: rem(30);
    @include tablet {
      font-size: rem(13);
    }
  }
}
