@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-txt {
  &--15 {
    font-size: clamp(8px, 1.6vw, 15px);
  }
  &--16 {
    font-size: clamp(9px, 1.65vw, 16px);
  }
  &--18 {
    font-size: clamp(10px, 1.82vw, 18px);
  }
  &--20 {
    font-size: clamp(11.5px, 2.1vw, 20px);
  }
  &--25 {
    font-size: clamp(12.5px, 2.6vw, 25px);
  }
  &--30 {
    font-size: clamp(13px, 2.7vw, 30px);
  }
  &--40 {
    font-size: clamp(22.5px, 2.7vw, 40px);
  }
  &--45 {
    font-size: clamp(22.5px, 4.4vw, 45px);
  }
  &--center {
    text-align: center;
  }
  &--font-d {
    @include font-d;
  }
  &--font-e {
    @include font-e;
  }
  &--font-e-serif {
    @include font-e-serif;
  }
}

.c-txt-product {
  &--users-voice {
    font-size: clamp(26.5px, 4.65vw, 45px);
  }
  &--card-title {
    font-size: clamp(15px, 2.21vw, 20px);
  }
  &--card-txt {
    font-size: clamp(12.5px, 1.85vw, 16px);
  }
  &--concept-title {
    font-size: clamp(20px, 3.9vw, 40px);
  }
}
