@use "../../../foundation/_color" as *;
@use "../../../foundation/_font" as *;
@use "../../../foundation/_variables" as *;
@use "../../../foundation/_mixin" as *;

.c-txt {
  &--20 {
    @include tablet {
      font-size: rem(11.5);
    }
    font-size: rem(20);
  }
  &--30 {
    @include tablet {
      font-size: rem(13);
    }
    font-size: rem(30);
  }
  &--center {
    text-align: center;
  }
}
